*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  /* footer support */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  font-size: 20px;
}

.midArea {
  /* min-height: calc(100vh - 47.2px - 68px); */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 4vw 6vw;
  gap: 10px;
}

.footer {
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  padding: 14px;
  background-color: #0071a5;
  color: white;
  font-size: 12px;
}

/* ////////////// */

/* HEADER STUFF */

.tabletAuxDiv {
  display: none;
}

.deco {
  position: absolute;
  background-color: #0071a5;
  width: 100%;
  height: 40rem;
  transform: translateY(calc(-33rem + 20vw)) skewY(-8deg);
  transform-origin: top left;
  z-index: -2;
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.72);
}

.imageContainer {
  max-width: 35%;
  position: relative;
  display: inline-block;
}

.headerImg {
  width: 100%;
  object-fit: cover;
  position: relative;
  left: 15px;
  box-shadow: 3px 3px 10px gray;
}

.name {
  position: absolute;
  text-align: center;
  transform: translateX(15px);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-size: calc(3.7vw + 0.5rem);
  color: white;
  font-family: "Playfair Display", sans-serif;
}

.headerText {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-color: black;
  border: 2px;
  border-style: solid;
  border-radius: 15px;
  padding: 5px 40px 15px;
  box-shadow: 3px 3px 10px gray;
  max-width: 40vw;
}

.headerDesc {
  font-size: 1.2vw;
  text-wrap: wrap;
}

.descCont {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 15px;
}

.headerText h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2vw;
}

.headerImgContainer {
  display: flex;
  gap: 15px;
}

/* MAIN SECTION STUFF */

.cardsTitle {
  font-size: 1.5vw;
  font-family: "Playfair Display", sans-serif;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  gap: 1.5vw;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px gray;
  height: calc(30vw);
}

.projectImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.projectName {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.4vw;
}

.projectDesc {
  font-size: 1.2vw;
  padding-top: 1vw;
}

.cardBottomTop {
  display: flex;
  justify-content: space-between;
}

.cardBottomTop img,
.headerImgContainer img,
.footerLeft img {
  max-width: 1.8vw;
}

/* FOOTER STUFF */

.footerLeft {
  max-width: 23vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerText :first-child {
  font-size: 2vw;
  font-family: "Playfair Display", sans-serif;
}

.footerText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2vw;
  text-wrap: wrap;
  gap: 25px;
  padding-bottom: 25px;
}

.footerEmail,
.footerPhone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerImgs {
  display: flex;
  gap: 20px;
}

.footerRight {
  max-width: 40%;
}

.footerRight img {
  width: 100%;
  object-fit: cover;
  margin: 30px;
}

/* MEDIA QUERIES */

@media (min-width: 600px) and (max-width: 1200px) {
  .header {
  }

  .headerText {
    min-width: 90vw;
    min-height: 45vw;
    display: inline;
    text-align: justify;
  }

  .tabletAuxDiv {
    display: block;
    float: left;
    width: calc(42vw - 3rem);
    height: calc(30vw - 2rem);
  }

  .descCont {
    display: block;
  }
  .imageContainer {
    max-width: 43%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .headerText h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: calc(4vw + 0.4rem);
  }

  .headerDesc {
    font-size: calc(2vw + 0.4rem);
    text-wrap: wrap;
  }

  .headerImg {
    width: 100%;
    object-fit: cover;
    position: relative;
    left: 15px;
    box-shadow: 3px 3px 10px gray;
  }

  .name {
    font-size: calc(3vw + 0.3rem);
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
    gap: 7vw;
  }

  .cardsTitle {
    font-size: 6vw;
    text-align: center;
  }

  .card {
    min-height: calc(40vw);
  }

  .projectName {
    font-family: "Playfair Display", sans-serif;
    font-size: 3vw;
  }

  .projectDesc {
    font-size: 2vw;
  }

  .cardBottomTop img,
  .headerImgContainer img,
  .footerLeft img {
    max-width: 4vw;
  }

  /* FOOTER STUFF */

  .footer {
    padding: 1em;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .footerLeft {
    max-width: 50vw;
  }

  .footerText {
    font-size: 2vw;
  }

  .footerText :first-child {
    text-align: center;
    font-size: 5vw;
  }

  .footerRight {
    max-width: 50%;
  }

  .footerRight img {
    margin: 0px;
  }
}

@media (max-width: 599px) {
  .imageContainer {
    max-width: 85%;
    position: relative;
    left: 0;
  }

  .headerImg {
    width: 100%;
    object-fit: contain;
    left: 0;
  }

  .footer {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
  }

  .midArea {
    align-items: center;
  }

  .name {
    font-size: calc(9.5vw + 0.5rem);
    transform: translateX(0px);
  }

  .headerText {
    border-style: none;
    padding: 5px 40px 15px;
    box-shadow: none;
    max-width: 100vw;
  }

  .headerText {
    justify-content: center;
    align-items: center;
  }

  .headerText h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 5vw;
  }

  .headerDesc {
    font-size: 4vw;
    text-wrap: wrap;
  }

  /* MAIN SECTION STUFF */

  .cardsTitle {
    font-size: 5vw;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75vw, 1fr));
    gap: 7vw;
  }

  .card {
    min-height: calc(75vw);
  }

  .cardBottomTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .projectName {
    font-family: "Playfair Display", sans-serif;
    font-size: 5.5vw;
  }

  .projectDesc {
    font-size: 3.75vw;
  }

  .cardBottomTop img,
  .headerImgContainer img,
  .footerLeft img {
    max-width: 5vw;
  }

  /* FOOTER STUFF */

  .footer {
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

  .footerLeft {
    max-width: 95vw;
  }

  .footerText {
    font-size: 3.75vw;
  }

  .footerText :first-child {
    text-align: center;
    font-size: 8vw;
  }

  .footerRight {
    max-width: 100%;
  }

  .footerRight img {
    margin: 0px;
  }
}
